.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chart-box {
  border: 3px solid #8B00FF;
  padding: 20px;
}

.chart-heading {
  text-align: center;
  color: black;
}
