.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chart-box {
  border: 1px solid black;
  padding: 20px;
}

.chart-heading {
  text-align: center;
}
.animated-heading span {
  text-align: center;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.animated-heading span:nth-child(1) {
  animation-delay: 0.5s;
}

.animated-heading span:nth-child(2) {
  animation-delay: 1.5s;
}

.animated-heading span:nth-child(3) {
  animation-delay: 2.5s;
}

.animated-heading span:nth-child(4) {
  animation-delay: 3.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
